# Node modules
node_modules
**/node_modules

# Next.js build
.next
out

# Turbopack / cache
.cache

# Environment variables
.env
.env.local
.env.*

# Logs
*.log

# Build folders
dist
build

# Coverage
coverage

# PostgreSQL data (IMPORTANT)
postgres-data

# OS files
.DS_Store
Thumbs.db